.react-kanban-board{
  overflow-y: scroll;
  flex: 1;
  height: 100%;
  position: relative;
}

.react-kanban-board > div{
  height: 100%;
  position: relative;
}

.react-kanban-card__title{
  display: flex;
  flex-direction: column;
}

.react-kanban-column{
  height: calc(100% - 40px) !important;
}

.react-kanban-column > div:last-child{
  overflow-y: auto;
}

.react-kanban-column .react-kanban-card-skeleton{
  max-width: 275px;
}

.card-members{
  display: flex;
}

.card-members > *:nth-child(1){
  margin-left: 0;
}

.card-members > *{
  font-size: 16px;
  height: 33px;
  width: 33px;
  margin-left: -18px;
}
